/*----------------------------------------- Start Menue Area -----------------------------------------------------------*/
.main_menu{
   background-color:#333333;background-image: -moz-linear-gradient(#A0AB6E, #EFFFA4);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#A0AB6E), to(#EFFFA4));
		background-image: -webkit-linear-gradient(#A0AB6E, #EFFFA4);background-image: -o-linear-gradient(#A0AB6E, #EFFFA4);
		background-image: -ms-linear-gradient(#A0AB6E, #EFFFA4);background-image: linear-gradient(#A0AB6E, #EFFFA4);
}
 #menu-wrap{
   background-color: #BBBBBB;background-image: -moz-linear-gradient(#999999, #E7E7E7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#E7E7E7));
	background-image: -webkit-linear-gradient(#999999, #E7E7E7);background-image: -o-linear-gradient(#999999, #E7E7E7);
	background-image: -ms-linear-gradient(#999999, #E7E7E7);background-image: linear-gradient(#999999, #E7E7E7);
}
	#menu, #menu ul {	margin: 0;padding: 0;list-style: none;}
	
	#menu {width: 999px;;	margin: 0 auto;	border: 1px solid #222;
		background-color:#333333;  /*menu color here*/
		background-image: -moz-linear-gradient(#006699, #0066FF);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#006699), to(#006699));	
		background-image: -webkit-linear-gradient(#333333, #333333);background-image: -o-linear-gradient(#006699, #006699);
		background-image: -ms-linear-gradient(#006699, #006699);	background-image: linear-gradient(#006699, #006699);
		-moz-border-radius: 6px;-webkit-border-radius: 6px;
		border-radius: 6px;-moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		-webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}
	
	#menu:before,#menu:after {content: "";display: table;}
	
	#menu:after {clear: both;}
	
	#menu {zoom:1;}
	
	#menu li {float: left;border-right: 0 solid #336666;-moz-box-shadow: 0 0 0 #336666;
		-webkit-box-shadow: 0 0 0 #444;box-shadow: 0 0 0 #444;position: relative;}
	
	#menu a {float: left;padding: 10px 16px;color: #ffffff;text-transform: uppercase;font: bold 14px Arial, Helvetica;
		text-decoration: none;text-shadow: 0 1px 0 #000; }
	
	#menu li:hover > a {color: #4371ff;}


	*html #menu li a:hover { /* IE6 only */	color:#003366; /* sub menu hover color*/}
	
	#menu ul {margin: 20px 0 0 0;
		_margin: 0; /*IE6 only*/
		opacity: 0;visibility: hidden;position: absolute;	top: 38px;left: 0;z-index: 33;background:#003366;
		background: -moz-linear-gradient(#003366, #003366);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#003366), to(#003366));
		background: -webkit-linear-gradient(#444, #111);background: -o-linear-gradient(#444, #111);	
		background: -ms-linear-gradient(#444, #111);background: linear-gradient(#444, #111);
		-moz-box-shadow: 0 -1px rgba(255,255,255,.3);-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
		box-shadow: 0 -1px 0 rgba(255,255,255,.3);-moz-border-radius: 3px;
		-webkit-border-radius: 3px;	border-radius: 3px;
		-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;  }

	#menu li:hover > ul {opacity: 1;visibility: visible;margin: 0;}
	
	#menu ul ul {top: 0;left: 190px;margin: 0 0 0 20px;
		_margin: 0; /*IE6 only*/
		-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		box-shadow: -1px 0 0 rgba(255,255,255,.3);		
	}
	
	#menu ul li {float: none;display: block;border: 0;
		_line-height: 0; /*IE6 only*/
		-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
		box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	}
 	#menu li:last-child {border-right: none;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
	#menu ul li:last-child {-moz-box-shadow: none;-webkit-box-shadow: none;	box-shadow: none;}
	
	#menu ul a { padding: 10px;width: 170px;
	_height: 10px; /*IE6 only*/
		display: block;	white-space: nowrap;float: none;text-transform: none;overflow: hidden;text-overflow: ellipsis;}
	
	#menu ul a:hover { background: #ffffff;
	background-image: -moz-linear-gradient(#003366, #2e2fef);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ef3f2f), to(#ef3f2f));
	background-image: -webkit-linear-gradient(#ef3f2f, #ef3f2f);
	background-image: -o-linear-gradient(#ef3f2f, #ef3f2f);background-image: -ms-linear-gradient(#ef3f2f, #ef3f2f);
	background-image: linear-gradient(#ef3f2f, #ef3f2f);
	}
	
	#menu ul li:first-child > a {-moz-border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}
	
	#menu ul li:first-child > a:after {	content: '';position: absolute;left: 40px;top: -6px;border-left: 6px solid transparent;
		border-right: 6px solid transparent;border-bottom: 6px solid #444;}
	
	#menu ul ul li:first-child a:after {	left: -5px;top: 50%;margin-top: -6px;border-left: 0;border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;border-right: 6px solid #3b3b3b;
	}
	
	#menu ul li:first-child a:hover:after {	border-bottom-color: #EB6918; }
	#menu ul ul li:first-child a:hover:after {border-right-color: #CD5C15;border-bottom-color: transparent;}
	#menu ul li:last-child > a {-moz-border-radius: 0 0 3px 3px;-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;}	
/*------------------------------------------ Ends Menue Area --------------------------------------------------*/



